<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="personalised_products" translate="label" sortOrder="100">
            <label>Richdynamix</label>
        </tab>
        <section id="personalised_products" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Personalised Products</label>
            <tab>personalised_products</tab>
            <resource>Richdynamix_PersonalisedProducts::general_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Disabling this will revert to default upsell functionality</comment>
                </field>
                <field id="access_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Access Key</label>
                </field>
                <field id="url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Event Server URL</label>
                </field>
                <field id="port" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Event Server Port</label>
                </field>
            </group>
            <group id="similarity_engine" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Similarity Engine Template</label>
                <comment>The similarity engine template is used for training data for product upsells</comment>
                <field id="url" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Engine URL</label>
                </field>
                <field id="port" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Engine Port</label>
                </field>
                <field id="product_count" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Count</label>
                    <comment>Determine how many products to show.</comment>
                </field>
                <field id="use_categories" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Filter on Categories</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Products returned will match current category</comment>
                </field>
            </group>
            <group id="complementary_engine" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Complementary Purchase Engine Template</label>
                <comment>The complementary purchase engine template is used for training data for cross sells</comment>
                <field id="url" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Engine URL</label>
                </field>
                <field id="port" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Engine Port</label>
                </field>
                <field id="product_count" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Count</label>
                    <comment>Determine how many products to show.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
